//color variables
$blue: #0862c9;
$white: #ffffff;
$purple: #7353A8;
$light-purple: #756BDE;
$yellow: #f7d411;
$off-black: #392e4e;
$red: #F73F65;
$dark-orange: #E1AD6A;
$light-orange: #F3CB65;

//semantic variables
$nav-background-color: $off-black;
$landing-background-color: $purple;
$footer-background-color: $light-orange;
$link: $yellow;
$body-background-color: $off-black;
$my-name-heading-color: $red;
$topic-callout-color: $red;
$about-section-background-color: $purple;
$page-heading-color: $yellow;
